body, html {
  
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1, h2, h3 {
    color: #2c3e50;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1c5980;
}
